# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data & models
data/processed/
data/interim/
models/artifacts/
*.joblib
*.pkl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db